body {
  background-color: lavender;
}

h1 {
  color: blue;
}

.campaignaims{
	font-family: sans-serif;
	color: blue;
	font-size: 30px;
}

.campaignaims2{
	font-family: sans-serif;
	color: black;
	font-size: 30px;
}

.campaignaims3{
	font-family: sans-serif;
	color: blue;
	font-size: 30px;
}

.scene1{
	align-content: center;
}